/*  estilos globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    width: 100vw;
    min-height: 100vh;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    overflow: hidden;
}

/* fim estilos globais */


/*  cabeçalho */
.cabecalho {
    width: 100vw;
}

.interface-cabecalho {
    width: 100%;
    display: flex;
    padding: 30px 8% 0px 8%;
    justify-content: space-between;
    align-items: center;

}

.interface-cabecalho h1 {
    color: #fff;
}

/* menu desktop */
.lista-menu {
    display: flex;
    gap: 50px;
}

.lista-menu ul {
    display: flex;
    gap: 50px;
    align-items: center;
}

.lista-menu ul li a {
    position: relative;
    color: #fff;
    font-size: 20px;
}

.lista-menu ul li a::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 1px;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform .5s ease;
}

.lista-menu ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: center;
}

.lista-menu .btn-menu {
    color: #fff;
    font-size: 15px;
    width: 120px;
    padding: 10px 0;
    border-radius: 5px;
    border: none;
    border: 1px solid #fff;
    background-color: transparent;
    cursor: pointer;
    transition: background-color .9s ease;
}

.lista-menu .btn-menu:hover {
    background-color: #fff;
    color: #000;
}


/* menu mobile */
.open-mobile-menu {
    display: none;
}

.open-mobile-menu i {
    font-size: 40px;
    cursor: pointer;
    color: #000;
}

.menu-mobile {
    background-color: #000a11;
    height: 100vh;
    position: fixed;
    z-index: 2;
    width: 0%;
    top: 0;
    right: 0;
    transition: .5s;
}

.menu-mobile.active-menu {
    width: 70%;
}

.menu-mobile.active-menu~.overlay-menu {
    display: block;
}

.close-mobile-menu {
    padding: 20px;
    cursor: pointer;
}

.close-mobile-menu i {
    color: #fff;
    font-size: 35px;
}

.lista-menu-mobile ul li a {
    display: inline-block;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    margin-bottom: 10px;
    width: 100%;
    text-align: right;
    letter-spacing: 1px;
}

.overlay-menu {
    background-color: #000000a1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
    display: none;
}



/* formulário de login */
.main-form {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interface-form {
    position: relative;
    border: 1.8px solid #fff;
    width: 400px;
    display: none;
    flex-direction: column;
    padding: 40px 2%;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    box-shadow: 0px 0px 10px #00000086;
}


/* animação do formulário de login */
.interface-form.show-Form {
    display: flex;
    animation: show-form .8s ease-in-out;
}

@keyframes show-form {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.interface-form.hide-Form {
    display: flex;
    animation: hide-form .8s ease-in-out;
}

@keyframes hide-form {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-50%);
    }
}


.interface-form #close {
    font-size: 20px;
    position: absolute;
    right: 1px;
    top: 1px;
    background-color: #162938;
    color: #fff;
    padding: 15px;
    border-radius: 0px 20px 0px 20px;
    cursor: pointer;
    transition: background-color .7s ease;
}

.interface-form #close:hover {
    background-color: #203e55;
}

.interface-form h1 {
    text-align: center;
    margin-bottom: 50px;
}

.interface-form form {
    width: 100%;
    height: 100%;
    ;
}

.container-form {
    display: flex;
    position: relative;
}

.container-form i {
    color: #162938;
    position: absolute;
    right: 2px;
    top: 10px;
    cursor: pointer;
    font-size: 20px;
}

.group-form {
    width: 100%;
    padding: 10px 3px;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #162938;
}

.group-form::placeholder {
    color: #162938;
}

.container-password {
    margin-bottom: 30px;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.remember input[type="checkbox"] {
    accent-color: #162938;
}

.remember label {
    color: #162938;
    font-size: 14px;

}

.remember-forgot a {
    position: relative;
    color: #162938;
}

.remember-forgot a::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #162938;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s ease;
}

.remember-forgot a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.btn-login {
    width: 100%;
    margin-top: 15px;
    padding: 15px 0;
    background-color: #162938;
    border: none;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color .7s ease;
}

.btn-login:hover {
    background-color: #203e55;
}

.register {
    text-align: center;
    margin-top: 20px;
    color: #162938;
}

.register a {
    color: #000a11;
    position: relative;
}

.register a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #162938;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s ease;
}

.register a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* fim formulário de login */


/* responsividade para tablets */
@media (max-width: 1024px) and (min-width: 768px) {
    .interface-form {
        width: 350px;
    }
    
    .menu-mobile.active-menu {
        width: 50%;
    }
    .open-mobile-menu {
        display: block;
    }

    .lista-menu {
        display: none;
    }
}


/* responsividade para smartphones */
@media screen and (max-width: 767px) {

    .interface-form {
        width: 90%;
    }
    .open-mobile-menu {
        display: block;
    }

    .lista-menu {
        display: none;
    }
}