/* estilo global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}
body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #162938
    background-image: url(./background.jpg);
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}
/* fim estilo global */

/* cabeçalho */
.cabecalho {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 6%;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}
.cabecalho h2 {
    font-size: 2rem;
    color: #fff;
    user-select: none;
}


.menu-desktop a {
    color: #fff;
    position: relative;
    margin-left: 30px;
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 1px;
}
.menu-desktop a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    bottom: -6px;
    left: 0;
    transform: scaleX(0);
    transition: transform .5s ease;
}
.menu-desktop a:hover::after {
    transform: scaleX(1);
}


.btn-menu {
    width: 130px;
    height: 50px;
    margin-left: 30px;
    cursor: pointer;
    border: 2px solid #fff;
    outline: none;
    border-radius: 10px;
    background-color: transparent;
    color: #fff;
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-weight: 500;
    transition: .5s ease;
}
.btn-menu:hover {
    background-color: #fff;
    color: #000;
}
/* fim cabeçalho */

/* formulário principal */
.main-form {
    position: relative;
    width: 400px;
    height: 450px;
    border: 2px solid #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 30px #00000088;
    background-color: transparent;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
}
.main-form.active-main-form {
    transform: scale(1);
}
.main-form.active {
    height: 530px;
}
.main-form.active .container-form.login {
    transition: none;
    transform: translateX(-400px);
}
.main-form .container-form.login {
    transition: transform .20s ease;
    transform: translateX(0)
}
.main-form.active .container-form.register {

    transition: transform .20s ease;
    transform: translateX(0)
}
.main-form .container-form.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}




.container-form {
    width: 100%;
    padding: 40px;
}
.icon-close {
    position: absolute;
    top: 0;
    right: 1px;
    padding: 20px;
    background-color: #162938;
    border-radius: 0px 20px 0px 20px;
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
    transition: .5s ease;
    z-index: 10;
}
.icon-close:hover {
    background-color: #1e394e;
}
.container-form h1 {
    color: #162938;
    text-align: center;
    letter-spacing: 1px;
}



.group-input {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}
.group-input label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1rem;
    color: #162938;
    pointer-events: none;
    font-weight: 500;
    letter-spacing: 1px;
    transition: top .3s ease, font-size .3s ease;
}
.group-input input:focus~label,
.group-input input:valid~label {
    top: -5px;
    font-size: .8rem;
}
.group-input input {
    background-color: transparent;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 35px 0 5px;
}
.group-input i {
    position: absolute;
    right: 5px;
    color: #162938;
    font-size: 1.1rem;
    line-height: 57px;
    cursor: pointer;
}



.remember-forgot {
    display: flex;
    justify-content: space-between;
    color: #162938;
    font-weight: 500;
    letter-spacing: .3px;
}
.remember-forgot input[type='checkbox'] {
    accent-color: #162938;
}
.remember-forgot a {
    color: #162938;
}
.remember-forgot a:hover {
    text-decoration: underline #162938;
}


.btn-login {
    width: 100%;
    height: 50px;
    margin: 20px 0;
    background-color: #162938;
    color: #fff;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    letter-spacing: 1px;
    font-weight: 500;
    transition: .5s ease;
    cursor: pointer;
}
.btn-login:hover {
    background-color: #1e394e;
}


.register {
    text-align: center;
    margin: 10px 0;
}
.register a {

    color: #162938;
    font-weight: 500;
}
.register a:hover {
    text-decoration: underline #162938;
}
/* fim formulário principal */

/* tablet */
@media (max-width: 1023px) and (min-width: 768px){
    .menu-desktop a {
        display: none;
    }
}

/* mobile */
@media screen and (max-width: 767px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 70px;
    }

    .menu-desktop a {
        display: none;
    }

    .main-form {
        width: 90vw;
        max-width: 400px;
        height: auto;
        margin: 0 auto;
    }
    
    .container-form{
        padding: 20px;
    }

}